<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049178405836-j2bd22drkembi8bg8hdbhs70qv7bkf5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049178405836-j2bd22drkembi8bg8hdbhs70qv7bkf5m</string>
	<key>API_KEY</key>
	<string>AIzaSyB5KZPgavw-OOJpkqpQg_3OsTEM1hqvJsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1049178405836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tupt.chat.stg</string>
	<key>PROJECT_ID</key>
	<string>ioschat-fa179</string>
	<key>STORAGE_BUCKET</key>
	<string>ioschat-fa179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049178405836:ios:2b83086f72f5a4de2cfb69</string>
</dict>
</plist>